<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sticklet.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.sticklet.android.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sticklet.android.activity.DisplayMessageActivity"
            android:label="@string/title_activity_display_message" >
			<meta-data 
			    android:name="android.support.PARENT_ACTIVITY"
			    android:value="com.sticklet.android.activity.MainActivity" />	
        </activity>
        
<!--         <service android:name="com.sticklet.android.syncadapter.AuthenticatorService"> -->
<!--         	<intent-filter> -->
<!--             	<action android:name="android.accounts.AccountAuthenticator"/> -->
<!--         	</intent-filter> -->
<!--         	<meta-data -->
<!--             	android:name="android.accounts.AccountAuthenticator" -->
<!--             	android:resource="@xml/authenticator" /> -->
<!--     	</service> -->
<!--     	<service -->
<!-- 		    android:name="com.sticklet.android.datasync.SyncService" -->
<!-- 		    android:exported="true" -->
<!-- 		    android:process=":sync" > -->

<!--             <intent-filter>com.example.android.datasync.provider -->
<!--                 <action android:name="android.content.SyncAdapter"/> -->
<!--             </intent-filter> -->
<!--             <meta-data -->
<!--                 android:name="android.content.SyncAdapter" -->
<!--                 android:resource="@xml/syncadapter" /> -->
<!--         </service> -->
        
		<provider
		    android:name="com.sticklet.android.datasync.provider.Provider"
		    android:authorities="com.sticklet.android.datasync.provider"
		    android:exported="false"
		    android:readPermission="true"
		    android:writePermission="true"
		    android:syncable="true" />

    </application>
    
</manifest>
